body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
       width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center; 
    color: black;
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(0, 195, 255);  
    text-align: center;
    padding: 20px;
}
header h1 { 
    font-size: 20px;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;/*C'est sa position normal dans le site ca veut dire position par defaut*/
}

nav ul li a:hover::before{
    width: 100%;/*Si on met le pointeur au survole la largeur se transite */
}


nav ul li a:hover {
    color: #d1e8ff;
}
/*C'est celui ci qui fais l'animation*/ 

@keyframes float{
    form{
        opacity: 0;/*De commencer par une opaciter de 0 et une transformation par rapport a l'axe des y de 50px*/
        transform: translateY(50px);
    }to{
        opacity: 1;
        transform: translate(0);/*pour termier  par une opaciter de 1  et une transformation 0 par rapport a des deux axes */
    }
}

section {
    animation: float .7s ease forwards;/*c'est une animation qu'on nomme <float> c'est juste une appelation si vous voulez aussi vous pouvez le changer avec d'autre nom  */
    opacity: 0; /*Au debut on rend la section invisible */
    transition: opacity .5s ease, transform .5s ease; /*C'est pour la transition des section par son opacité  et celui de de son transformation*/
    padding: 18px;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(0, 195, 255);
}
p {
    font-size: 15px;
    line-height: 1.5;
}
form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 7px;
    font-size: 15px;
}
form button {
    background: rgb(0, 195, 255);
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background:rgb(0, 195, 255);
}
img{
    width: 200px;
    height: 300px;
    object-fit: cover; /*Pour ne pas deformer l'image*/
    border-radius: 50%;
    border: 5px solid black; 
    border-style: double;
}
nav{
    padding-top: 15px;
}
#tt  nav {
    display: flex;
    float: right;
    margin: 15px;
}
/*css pour cv*/
 #cv {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6; 
    color: black;
}
.tete { 
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    border-radius: 12px;
    display: flex; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.profil {
    background-color:rgb(0, 195, 255);
    color:white;
    width :37%;
    padding : 40px 20px;
    text-align : center; 
    border-style: double;

} 
.profil img { 
    
    width: 200px;
    height:300px;
    object-fit: cover; /*Pour ne pas deformer l'image*/
    border-radius: 50%;
    border: 5px solid black; 
    border-style: double;
}
.profil h1 {
    margin: 10px 0;
    font-size: 1.5em;
}
.main-content {
    width: 70%;
    padding: 40px;
}
.section h2 {
    font-size: 1.4em;
    color: rgb(0, 195, 255);
    border-left: 10px solid white;
    padding-left: 10px;
    margin-bottom: 15px; 
    text-decoration: underline;
}
.section ul {
    list-style: none;
    margin: 10px 0;
    padding-left: 0;
}
.section ul li::before {
    content: "✔";
    color: rgb(0, 195, 255);
    margin-right: 8px;
}
h1{
    font-size: 40px;
} button{
    background-color: black;
    margin-left: 10px;
    border-radius: 50px;
} 
    .category {
        width: 45%;
    }
    .skill {
        display: flex;
        align-items: center;
       
        margin-bottom: 15px;
    }
      .section{ 
        width: 600px;
    }
    /* Style global */

.skills {
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.skill .label {
    width: 30%;
}
.progress {
    width: 60%;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}
.progress-bar {
    height: 100%;
    background-color: rgb(0, 195, 255);
}
